.section-contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
}

.contact-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.contact-details {
    width: 40%;
    padding-left: 50px;
    padding-right: 70px;
    z-index: 3;
    position: relative;

    p {
        color: #4a4a4a;
        font-size: 14px;
        font-family: "Montserrat Regular";
        line-height: 1.25;
        font-weight: 400;
        margin-bottom: 40px;
    }

    h2 {
        margin-bottom: 40px;
    }
}


.contact-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;

    p {
        font-family: "Montserrat Regular";
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 1px;
        margin: 0;
        color: hsla(0, 0%, 0%, 0.8);
    }
}

.contact-social {
    display: flex;
    flex-direction: column;
}

.contact-social-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

    img {
        max-width: 33px;
        height: auto;
        margin: 0;
        margin-right: 20px;
        transition: margin-right 0.3s ease-in-out;
    }

    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "Montserrat Regular";
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0px;
        color: #131313;
        text-decoration: none;
        white-space: nowrap;
    }
}

.contact-social-item:hover {
    opacity: 0.6;

    img {
        margin-right: 30px;
    }
}

.contact-form {
    width: 60%;
    background-color: #F5F4F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    height: 28.57143rem;

    input,
    textarea {
        width: 100%;
        color: #4a4a4a;
        font-size: 14px;
        font-family: "Montserrat Regular";
        line-height: 1.25;
        font-weight: 400;
        border: none;
        border-bottom: 2px solid #4a4a4a;
        height: 35px;
        margin-bottom: 35px;
        padding: 10px;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }
}

.message-input {
    height: 200px !important;
}

.send-button {
    font-family: "Montserrat Regular";
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #d83434;
    color: #fff;
    border: none;
    margin: 0px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.send-button:hover {
    transform: translateX(15px);
    background-color: #ff3535;
}

.send-button:focus {
    outline: none;
}

.contact-image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        width: 38%;
        position: absolute;
        bottom: 0;
        right: 50px;
        margin: 0;
    }
}


.contact-bg-number {
    position: absolute;
    font-family: "Montserrat Bold";
    font-weight: 800;
    right: -200px;
    top: -50px;
    font-size: 350px;
    color: #F5F5F5;
    z-index: -2;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .section-contact {
        height: auto;
        padding: 50px 35px 70px 35px;
    }

    .contact-box {
        justify-content: flex-start;
    }

    .contact-image {
        display: none;
    }

    .contact-details {
        padding-right: 0;
        padding-left: 0;
        width: 80%;
    }

    .contact-social-item {
        a {
            font-size: 12px;
        }

        img {
            max-width: 28px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .section-contact {
        height: auto;
        padding-top: 0px;
        padding-bottom: 70px;
        padding-left: 35px;
        padding-right: 35px;

    }

    .contact-box {
        justify-content: flex-start;
    }

    .contact-image {
        display: none;
    }

    .contact-details {
        padding-right: 0;
        padding-left: 0;
        width: 50%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .section-contact {
        height: auto;
        padding-top: 0px;
        padding-bottom: 120px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .contact-image {
        display: none;

        img {
            width: 60%;
            position: absolute;
            bottom: 0;
            right: 0px;
            margin: 0;
        }
    }


    .contact-box {
        justify-content: flex-start;
    }

    .contact-details {
        padding-right: 0;
        padding-left: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1300.98px) {
    .section-contact {
        height: auto;
        padding-top: 0px;
        padding-bottom: 120px;
        padding-left: 70px;
        padding-right: 70px;
    }

    .contact-image {
        img {
            width: 50%;
            position: absolute;
            bottom: 0;
            right: 0px;
            margin: 0;
        }
    }

    .contact-details {
        padding-right: 0;
        padding-left: 0;
    }

    .contact-bg-number {
        right: -200px;
        top: -50px;
        font-size: 330px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1560.98px) {
    .contact-bg-number {
        right: -200px;
        top: -50px;
        font-size: 330px;
    }

    .contact-image {
        img {
            width: 50%;
            position: absolute;
            bottom: 0;
            right: 0px;
            margin: 0;
        }
    }
}