footer {
    background-image: url('/footer-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    li {
        list-style-type: none;
        margin: 0;
    }
    .footer-menu-item {
        font-family: "Montserrat Regular";
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        color: #fff;
        margin: 0px;
        text-decoration: none;
        text-transform: uppercase;
        padding-left: 20px;
        padding-right: 20§px;
        list-style-type: none;
        transition: color 0.2s ease-in-out;
    }
    .footer-menu-item:hover {
        color: rgb(180, 180, 180);
    }
    p {
        font-family: "Montserrat Regular";
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        color: #d83434;
        margin: 0px;
        text-decoration: none;
        text-transform: uppercase;
    }

}
