.section-portfolio {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    padding-bottom: 70px;
}

.portfolio-container {
    // background: linear-gradient(137.86deg,#4a00d8,#7512b7 23.75%,#fc4d4e);
    background-image: url('/header-bg-mac.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    z-index: 2;
    position: absolute;
    left: 0;
    overflow: hidden;
    box-shadow: 0 6px 19px 0 rgba(0, 0, 0, .11);
}

.portfolio-container-content {
    padding-left: 120px;
    padding-top: 70px;
    padding-right: 100px;
    padding-bottom: 70px;
    z-index: 4;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    position: relative;
    background: inherit;
    overflow: hidden;
}


.portfolio-container-content:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    margin: -20px;
}


.portfolio-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.portfolio-about {
    h2 {
        font-family: "Montserrat Bold";
        font-weight: 800;
        font-size: 26px;
        margin-bottom: 25px;
        color: #fff;
    }

    p {
        font-size: 22px;
        font-family: "Montserrat Light";
        line-height: 1.25;
        color: #ffffff;
        margin-bottom: 40px;
        width: 80%;
    }
}

.portfolio-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;

    p {
        font-family: "Montserrat Regular";
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 1px;
        margin: 0;
        color: #fff;
    }

    .flat-line {
        background-color: rgb(216, 52, 52);
    }
}

.portfolio-items,
.portfolio-items-mobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 30%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;

    img {
        max-height: 200px;
        width: auto;
        cursor: pointer;
        transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    }
}

.portfolio-item:hover {
        img {
            transform: translateY(-15px);
            filter: brightness(0.8)
        }
}

.portfolio-bigimage {
    position: absolute;
    width: 40%;
    z-index: 6;
    right: 0;
    top: 150px;
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30.57143rem;
    box-shadow: 0 6px 19px 0 rgba(0, 0, 0, .11);
    padding: 70px;

    h2 {
        font-family: "Montserrat Bold";
        font-weight: 800;
        font-size: 26px;
        margin-bottom: 25px;
        color: #fff;
        text-shadow: 2px 2px 8px #0F0023;
    }

    p {
        font-size: 22px;
        font-family: "Montserrat Light";
        line-height: 1.25;
        color: #ffffff;
        margin-bottom: 40px;
        width: 80%;
        text-shadow: 2px 2px 8px #0F0023;
    }

    a {
        font-family: "Montserrat Regular";
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        color: #fff;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0;
        text-decoration: none;
        background-color: #d83434;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        letter-spacing: 1px;
        transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
        display: block;
        max-width: 245px;
    }

    a:hover {
        transform: translateX(15px);
        background-color: #ff3535;
    }
}


.portfolio-items-mobile {
    display: none;
}

.portfolio-text-mobile {
    display: none;
}

.portfolio-item-link {
    text-transform: uppercase;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .section-portfolio {
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 50px;
    }

    .portfolio-bigimage,
    .portfolio-items,
    .portfolio-text-desktop {
        display: none;
    }

    .portfolio-items-mobile,
    .portfolio-text-mobile {
        display: flex;
    }

    .portfolio-container {
        width: 100%;
        position: relative;
        background-attachment: scroll;
    }

    .portfolio-item {
        width: 50%;
        padding-right: 25px;
        padding-bottom: 20px;
        padding-top: 20px;
        height: 140px;

        img {
            max-width: 90%;
            margin: 0;
        }
    }

    .portfolio-container-content {
        padding: 35px;
        padding-top: 50px;
        padding-bottom: 50px;

    }

    .portfolio-about {
        p {
            font-size: 19px;
            margin-bottom: 25px;
        }
    }

    .portfolio-header {
        p {
            margin: 0;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .section-portfolio {
        height: auto;
        padding-top: 0px;
        padding-bottom: 0;
        margin-top: 70px;
    }

    .portfolio-bigimage,
    .portfolio-items,
    .portfolio-text-desktop {
        display: none;
    }

    .portfolio-items-mobile,
    .portfolio-text-mobile {
        display: flex;
    }

    .portfolio-container {
        width: 100%;
        position: relative;
        background-attachment: scroll;
    }

    .portfolio-item {
        width: 50%;
        height: 160px;
        img {
            max-height: 100px!important;
            width: auto;
        }
    }

    .portfolio-container-content {
        padding: 35px;
        padding-top: 70px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .portfolio-container-content {
        padding: 70px;
        padding-top: 50px;
    }

    .portfolio-item {
        height: 150px;
        padding-left: 0;
        padding-bottom: 0px;
        padding-right: 50px;
    }

    .portfolio-container {
        width: calc(100% - 120px);
        height: 60%;
        background-attachment: scroll;
    }

    .portfolio-bigimage {
        width: 70%;
        right: 0px;
        bottom: 2%;
        top: auto;
        height: 40%;
    }

    .portfolio-about {
        h2 {
            font-size: 22px;
        }

        p {
            font-size: 19px;
            margin-bottom: 10px;
        }
    }

    .portfolio-bigimage {
        p {
            font-size: 19px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .portfolio-container {
        width: calc(100% - 120px);
        height: 50%;
        background-attachment: scroll;
    }

    .portfolio-bigimage {
        width: 70%;
        right: 0px;
        bottom: 17%;
        top: auto;
        height: 35%;
    }

    .portfolio-item {
        height: 170px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1450.98px) {
    .portfolio-about {
        p {
            font-size: 22px;
        }
    }

    .portfolio-bigimage {
        p {
            font-size: 22px;
        }
    }

    .portfolio-item {
        height: 200px;
    }
}

@media (min-width: 1px) and (max-width: 850px) and (orientation: landscape) {
    .section-portfolio {
        height: auto;
        padding: 0;
    }
    .portfolio-bigimage,
    .portfolio-items,
    .portfolio-text-desktop {
        display: none;
    }

    .portfolio-items-mobile,
    .portfolio-text-mobile {
        display: flex;
    }
    .portfolio-container {
        height: auto;
    }
 }

@media (min-width: 851px) and (max-width: 1200px) and (orientation: landscape) {
    .section-portfolio {
        height: 180vh;
    }
 }