.section-skills {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0;
    margin-top: 150px;
}

.skills-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 6px 19px 0 rgba(0, 0, 0, .11);
    height: 33.57143rem;
}

.skills-top-square {
    position: absolute;
    width: 17.42857rem;
    height: 20.71429rem;
    top: -50px;
    left: -50px;
    background-image: url('../images/box-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.skills-bottom-square {
    position: absolute;
    width: 11.42857rem;
    height: 15.71429rem;
    bottom: -50px;
    right: -50px;
    background: linear-gradient(to top, #b32a2a 10%, #df3636 100%);
    z-index: 2;
}

.skills-desc {
    width: 40%;
    padding: 70px;
    z-index: 3;
    background-color: #fff;

    p {
        font-size: 22px;
        font-family: "Montserrat Regular";
        font-weight: 400;
        line-height: 1.25;
        color: #4a4a4a;
    }

    h2 {
        margin-bottom: 40px;
    }
}

.skills-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;

    p {
        font-family: "Montserrat Regular";
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 1px;
        margin: 0;
        color: hsla(0, 0%, 0%, 0.8);
    }

    .flat-line {
        background-color: rgb(216, 52, 52);
    }
}

.skills {
    width: 60%;
    background-image: url('../images/mac-details.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    position: relative;
}

.all-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 70px;
    height: 100%;
    position: relative;
    background: inherit;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    z-index: 2;
}

.all-skills:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px);
    margin: -20px;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 15px;
    width: 25%;
    flex: 1 0 21%;
}

.skill-container:hover {
    .skill-image {
        filter: brightness(1.2)
    }
}

.skill-image {
    width: 60px;
    margin-bottom: 10px;
    transition: filter 0.2s ease-in-out;
}


.skill-text {
    font-family: "Montserrat Regular";
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}

.skill-desc {
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "EuclidSquare";
    font-size: 40px;
    line-height: 1.0;
    margin-bottom: 70px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .section-skills {
        height: auto;
        padding: 0;
        margin: 0;
        padding-top: 50px;
    }

    .skills-desc {
        padding: 35px;
        padding-top: 0;
        width: 100%;
        padding-bottom: 50px;
        p {
            font-size: 19px;
            margin: 0;
        }
    }

    .skills {
        width: 100%;
        background-attachment: scroll;
    }

    .all-skills {
        padding: 30px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .skill-text {
        font-size: 11px;
    }

    .skill-image {
        width: 50px;
    }

    .skills-box {
        height: auto;
        margin: 0;
        box-shadow: none;
        width: 100%;
    }

    .skills-top-square,
    .skills-bottom-square {
        display: none;
    }

    .skill-container {
        padding-top: 10px;
        padding-bottom: 10px;
        flex: 1 0 33%;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .section-skills {
        height: auto;
        padding: 70px 0px 70px 0px;
        margin: 0;
    }

    .skills-desc {
        padding: 0px 35px 70px 35px;
        width: 100%;
        padding-bottom: 50px;
        p {
            font-size: 19px;
            margin: 0;
            max-width: 70%;
        }
    }

    .skills {
        width: 100%;
        background-attachment: scroll;
    }

    .all-skills {
        width: 100%;
        padding: 70px 35px 70px 35px;
    }

    .skill-text {
        font-size: 11px;
    }

    .skill-image {
        width: 50px;
    }

    .skills-box {
        height: auto;
        margin: 0;
        box-shadow: none;
        width: 100%;
    }

    .skills-top-square {
        display: none;
    }

    .skills-bottom-square {
        width: 30%;
        right: 0px;
    }

    .skill-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .section-skills {
        height: auto;
        padding: 0;
        padding-bottom: 120px;
    }

    .skills-desc {
        padding: 50px;

        p {
            font-size: 19px;
            margin: 0;
        }
    }

    .all-skills {
        padding: 40px;
    }

    .skill-text {
        font-size: 10px;
    }

    .skill-image {
        width: 50px;
    }

    .skills-box {
        height: auto;
        margin: 0;
        width: 100%;
    }

    .skills-top-square {
        width: 30%;
        left: 0px;
    }

    .skills-bottom-square {
        width: 30%;
        right: 0px;
    }

    .skills {
        background-attachment: scroll;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .section-skills {
        height: auto;
        padding-bottom: 120px;
        padding-right: 70px;
        padding-left: 70px;
        padding-top: 70px;
        margin: 0;
    }

    .skills-desc {
        padding: 50px;

        p {
            font-size: 20px;
            margin: 0;
        }
    }

    .all-skills {
        padding: 50px;
    }

    .skill-text {
        font-size: 10px;
    }

    .skill-image {
        width: 50px;
    }

    .skills-box {
        height: auto;
        width: 100%;
    }

    .skills {
        background-attachment: scroll;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1600.98px) {
    .section-skills {
        margin-bottom: 70px;
    }

    .skills-box {
        width: 100%;
    }
}

@media (min-width: 1px) and (max-width: 850px) and (orientation: landscape) {
    .section-skills {
        margin: 0;
    }
 }